@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    font-family: 'Ubuntu',sans-serif;
}


.bg {
    background: url("img.jpg") no-repeat center center/cover;
    position: absolute;
    top: -30px;
    left: -20px;
    width: calc(100vw + 40px);
    height: calc(100vh + 60px);
    z-index: -1;
    filter: blur(35px);
}

.loading {
    font-size: 48px;
    color: white;
}