@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    overflow: hidden;
}

.container{
    position: relative;
    width: 100%;
    height: 100%;
    background: #eee;
}

.split {
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.split.left {
    left: 0;
    background: url('drink.jpg');
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;

    transition: width linear 1s;
    
}


.split.right {
    right: 0;
    background: url('star.jpg');
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;

    transition: width linear 1s;
}

.hover-left .split.left{
    width: 75%;
}
.hover-left .split.right {
    width: 25%;
}

.hover-right .split.left{
    width: 25%;
}
.hover-right .split.right {
    width: 75%;
}

h1 {
    font-size: 3rem;
    color: white;
    position: absolute;
    left: 50%;
    top:20%;
    transform: translateX(-50%);
    white-space: nowrap;
}

.btn{
    position :absolute;
    left: 50%;
    top:35%;
    color: white;
    text-decoration: none;
    border: white solid 3px;
    font-size: 1rem;
    width: 12rem;
    padding: 1rem;
    transform: translateX(-50%);
    font-size: 1.5rem;    
    text-align: center;
    justify-content: center;
}

.split.left .btn:hover {
    background: rgba(255, 188, 111, 0.6)
}

.split.right .btn:hover{
    background-color: rgba(241,156,152, 0.6)
}